<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-button>
        <ion-back-button defaultHref="tabs-page/home"></ion-back-button>
      </ion-button>
     </ion-buttons>
    <ion-title>Cats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1></h1>
  <div class="top">
    <div class="preview">
      <ion-avatar>
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <img src="assets/cats/cat2.jpg" />
      </ion-avatar>
    </div>
  <div class="subtitle">
    <div class="line"></div>
    <p class="title">Cat Information</p>
    <div class="line"></div>
    </div>
<p>
A cat is one of the most popular pets because it is affectionate, intelligent, and playful.
Cats can live for more than 20 years and need constant care. cat likes a cozy, comfortable bed in a quiet area of a house.
They should be fed at regular mealtimes, and have fresh water available at all times.
All cats likes to be clean and need to be groomed regularly to stay healthy and fit.
Cats love to play and exercise, so cat owners needs to spend time with their pets.
Some of the basic needs needed are food and water dishes, a bed, grooming supplies, litterbox and supplies, 
scratching post, and carrier, cat food and a few toys.
</p>
  </div>
</ion-content>
