<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-button>
        <ion-back-button defaultHref="tabs-page/home"></ion-back-button>
      </ion-button>
     </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="top">
        <ion-img class="img" src="../assets/image5.png"></ion-img>
        <div class="divider"></div>
        <h1>  Pet Care </h1>
  
    <div class="divider"></div>
      <p> Petcare is a user-friendly mobile application that
        helps pet owners on taking care of 
        their pets.It includes Pet Care Reminder Form for recording pet 
        information and 
        monitoring health status through notes.
        
      </p>
      <p> Our mission is to 
        provide pet parents with everything 
        that they need to ensure their pet lives a 
        long and happy life. We love to talk about 
        pets of all types and we are even more excited 
        when you send your furry family member pictures  
        through the app! We are constantly researching 
        and learning about new products that can make 
        our pets lives better.
    </p>
        <div class="divider"></div>
      <h3>Version</h3>
      <p>1.0.0</p>
      
      <div class="divider"></div>
      <h3>Developers</h3>
      <ion-item>
        <ion-label>Jelly W. Dela Paz</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Jerico Aganon</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Rochel Bitamog</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cherry Mae E. Agtarap</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>John Paul Tagayun</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Kathleen Joy Lappay</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Jenalyn Langcay</ion-label>
      </ion-item>
  
      <!-- <div class="divider" color="primary"></div> -->
  
      <h3>Contacts</h3>
      <p>www.petCare.com<br/>
      petCare@gmail.com<br/>
      Contact No. 090710619170</p>
  
    </div>
  </ion-content>
  