<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-button>
        <ion-back-button defaultHref="tabs-page/home"></ion-back-button>
      </ion-button>
     </ion-buttons>
    <ion-title>Dogs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1></h1>
  <div class="top">
    <div class="preview">
      <ion-avatar>
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <img src="assets/dogs/dog2.jpg" />
      </ion-avatar>
    </div>
  <div class="subtitle">
    <div class="line"></div>
    <p class="title">DOg Information</p>
    <div class="line"></div>
    </div>
<p>
Dogs are popular pets because people enjoy a dogs's company, but keeping a dog is hardwork. Dogs need lots of exercise and have to be take out for a walk at least twice a day.
They also need to be fed at regular mealtimes and have water available at all times. Dog should be brushed and cleaned to keep them healthy.
Some of the basic things needed include a collar, a leash, a bed, food and water dishes, dog food, toys to play with, and brushes for grooming.
</p>
  </div>
</ion-content>




