<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-button>
        <ion-back-button defaultHref="tabs-page/home"></ion-back-button>
      </ion-button>
     </ion-buttons>
    <ion-title>Horse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1></h1>
  <div class="top">
    <div class="preview">
      <ion-avatar>
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <img src="assets/horse/horse2.jpg" />
      </ion-avatar>
    </div>
  <div class="subtitle">
    <div class="line"></div>
    <p class="title">Horse Information</p>
    <div class="line"></div>
    </div>
<p>
A horse is a pet that needs a lot of care. A horse needs a grassy field with
plenty of space to move around, and a comfortable shelter, called a stable.
As well as grass and hay, an active horse needs to be fed three times a day with a mix of food, 
and have fresh water available at all times. A horse has to have regular exercise and likes the company 
of other horse or animal. it needs to be kept clean, through grooming everyday.
An important part of taking care of a horse is keeping it's stable clean and tidy.
</p>
  </div>
</ion-content>
